:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.color-twitter {
  color: #38a1f3;
}

.color-facebook {
  color: #3b5998;
}

.color-youtube {
  color: #c4302b;
}

.color-linkedin {
  color: #0077b5;
}

.color-instagram {
  color: #3f729b;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.container {
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.text-primary {
  color: var(--primary-color);
}

.form {
  margin: 1rem 0;
}

.form > button{
  margin-right: 1rem;
}