.Dashboard {
}

.Actions {
  display: flex;
  flex-direction: row;
}

.Action {
  margin-right: 0.5rem;
}

.Space {
  padding: 0.5rem;
}

@media (max-width: 500px) {
  .Actions {
    flex-direction: column;
    /* justify-content: stretch; */
  }
  .Action {
    margin-bottom: 0.5rem;
  }
}