.Post {
    width: 100%;
    border: solid 1px #ccc;
    box-sizing: border-box;
    color: black;
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    padding: 1rem;
    padding-top: 2rem;
  }
  
  .Avatar {
    text-align: center;
    flex: 0 0 20%;
    box-sizing: border-box;
    padding-right: 5%;
  }
  
  .Avatar .Picture {
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
  
  .Avatar .Name {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
  }
  
  .Body {
    display: flex;
    flex-direction: column;
  }
  
  .Body .Text p {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .Body .Date p {
    color: #aaa;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .Actions {
      display: flex;
      flex-direction: row;
  }

  .Actions button,
  .Actions a {
    margin-right: 1rem;
  }
  
  @media (max-width: 500px) {
    .Post {
      flex-direction: column;
    }
    .Avatar {
      box-sizing: border-box;
      text-align: center;
      margin: auto;
      margin-bottom: 2rem;
    }
  }