.Posts {
}

/* .Form {
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.Form textarea {
    box-sizing: border-box;
    margin:0;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
} */
