.SignIn {
}

.Note {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.Link {
  color: var(--primary-color);
  text-decoration: none;
}

.Warning {
  color: #fff;
  background-color: var(--danger-color);
  padding: 1rem;
}
