.Logo {
  height: 80%;
  display: flex;
  align-items: center;
}

.Link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.Title {
    font-size: 1.50rem;
    font-weight: 900;
    margin-left: 5px;
}

.Link:hover {
    color: #17a2b8;
    cursor: pointer;
} 