.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  color: #fff;
  background-color: #343a40;
  opacity: 0.9;
  border-bottom: solid 1px #17a2b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
}

@media (max-width: 500px) {
    .Navbar {
        display: none;
    }
}