.Profile {
}

.Info {
  border: 1px solid #ccc;
  background-color: var(--light-color);
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
}

.Info .Title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--primary-color);
}

.Info .Description {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Line {
  height: 1px;
  background-color: #ccc;
  margin: 1.5rem 0;
}

.Skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Details {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

@media (max-width: 500px) {
  .Skills {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .Details {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}
