.NavigationItems {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

@media (max-width: 500px) {
    .NavigationItems {
        flex-flow: column;
    }
}