.NavigationItem {
  display: block;
  box-sizing: border-box;
  padding-left: 20px;
}

.NavigationItem a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #17a2b8;
}