.Title {
  margin: 0;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #17a2b8;
  margin-bottom: 1rem;
}

.Subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.Subtitle .Text {
  margin: 0;
  padding-left: 5px;
  font-size: 1.5rem;
}
