.Landing {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('../../assets/images/showcase.jpg') no-repeat center
    center/cover;
    
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .Inner {
    width: 80%;
	height: 25%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
} */

.Inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Title {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.Subtitle {
font-size: 1.5rem;
margin-bottom: 1rem;
}

.Buttons:last-child a {
  margin-left: 1rem;
}