.Educations {
  box-sizing: border-box;
  margin: 0;
  padding: 2rem;
  border: 1px solid #ccc;
  background-color: #fff;
  flex: 1 0 250px;
}

.Message {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.Line {
  border-top: 1px dotted #ccc;
  margin: 1rem 0;
  padding: 0 1rem;
}
