.Separator {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    box-sizing: border-box;
    text-transform: capitalize;
}

.Separator h3 {
    margin: 0;
}