.Table {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2rem;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Header {
    background-color: #f4f4f4;
    font-weight: 600;
    box-sizing: border-box;
}

.Column {
    display: block;
    padding: 1rem;
    margin: auto 0.5rem auto 0;
    box-sizing: border-box;
}

.Hidden {
    visibility: hidden;
}

.School {
    flex: 0 2 300px;
}

.Degree {
    flex: 0 2 250px;
}

.Year {
    flex: 0 3 300px;
}

.Delete {
    flex: 0 1 150px;
    display: flex;
    justify-content: space-around;
}