.Container {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  margin-bottom: 1rem;
}

.Input {
  width: 100%;
  box-sizing: border-box;
}

.Label {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.Note {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #888;
}

.InputContainer {
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
}

.InputContainer i {
  box-sizing: border-box;
  width: 40px;
  height: auto;
  margin-right: 1rem;
}

.InputElement {
  display: block;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.DateContainer {
  display: flex;
  margin: 0;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
}

.DateContainer p {
  margin:0;
  padding: 0;
}

.CheckboxContainer {
  display: flex;
  margin: 0;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}
.CheckboxContainer input { 
  margin: 0;
  padding: 0;
}

.CheckboxContainer p { 
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: lighter;
  padding-left: 0.5rem;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid #f00;
}
