.Skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.Skill p {
    margin: 0;
    padding: 0;
    padding-left: 0.25rem;
}