.Card {
  display: block;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  box-sizing: border-box;
  padding: 2.5rem;
  color: #fff;
  background: var(--primary-color);
}

.Card .Picture {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.Name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.Position {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.Location {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

.SocialMedias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}

.Icon {
  margin: 0 5px;
  color: #fff;
}

.Icon:hover {
  color: #ccc;
}