.ProfileSummary {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem auto;
  background: var(--light-color);
  border: 1px solid #ccc;
  align-items: center;
  padding: 1rem 0;
}

.Profile {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-self: start;
  align-items: center;
}

.Picture {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 0 1rem;
}

.Personal {
  display: block;
  margin: 0 1rem;
}

.Name p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8;
  text-transform: capitalize;
}

.Position p {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.8;
  text-transform: capitalize;
}

.Location p {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.8;
  text-transform: capitalize;
}

.Skills {
  flex: 1;
  display: block;
  color: var(--primary-color);
  justify-self: end;
}

.Skills > * {
  margin: 0.25rem;
  padding: 0;
}

@media (max-width: 700px) {
  .Skills {
    display: none;
  }
  .Profile {
    padding-top: 1rem;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
  }

  .Picture {
    width: 200px;
    height: auto;
  }
}
