.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

.Button:hover {
  opacity: 0.8;
}

.Button:first-of-type {
  margin-left: 0;
}

.Button:disabled {
  color: #eee;
  background-color: #ccc;
  cursor: not-allowed;
}

.Primary {
  background-color: var(--primary-color);
  color: #fff;
}

.Light {
  background-color: var(--light-color);
  color: #000;
}

.Dark {
  background-color: var(--dark-color);
  color: #fff;
}

.Danger {
  background-color: var(--danger-color);
  color: #fff;
}

.Sm {
  padding: 0.5rem 0.75rem;
}

.Md {
  padding: 0.75rem 1rem;
}

.Lg {
  padding: 1rem 1.25rem;
}
